End to end machine learning workflow to predict mortality within 180 days of last visit


This is step 1


The goal is this file is to populate patient demographic features before we create a training set

# Importing Packages & Data

In [1]:
# Package Import

import pandas as pd

In [16]:
# import data

person = pd.read_csv('input/person.csv')
death = pd.read_csv('input/death.csv')

# Creating Demographics Table

In [17]:
# Preview person table

person.head()

,year_of_birth,gender_source_value,ethnicity_concept_id,provider_id,race_source_concept_id,person_id,person_source_value,month_of_birth,gender_source_concept_id,ethnicity_source_concept_id,care_site_id,day_of_birth,ethnicity_source_value,location_id,race_concept_id,gender_concept_id,birth_datetime,race_source_value
0,1937.0,2,38003564.0,NaN,NaN,19076,3FE03A5F3E571720,8,NaN,NaN,NaN,1,1,404,8557.0,8532,NaN,1
1,1971.0,2,38003564.0,NaN,NaN,63615,D6EA175DFA84014F,12,NaN,NaN,NaN,1,1,59,NaN,8532,NaN,1
2,1935.0,2,38003564.0,NaN,NaN,138812,D49E41F7F3EC3403,9,NaN,NaN,NaN,1,1,464,8516.0,8532,NaN,1
3,1943.0,1,38003564.0,NaN,NaN,24089,50B972E03C6FDBAE,12,NaN,NaN,NaN,1,1,345,8515.0,8507,NaN,1
4,1933.0,2,38003564.0,NaN,NaN,21093,46A9A1FFC0CCBF8D,7,NaN,NaN,NaN,1,1,363,NaN,8532,NaN,1

In [18]:
# selecting the person_id yob gender and ethnicity as possible features 
# reset index 

person = person[['person_id','year_of_birth','gender_source_value','ethnicity_source_value']]
person = person.reset_index(drop=True)

In [19]:
# preview person table with selected features

person.head()

   person_id  year_of_birth  gender_source_value  ethnicity_source_value
0      19076         1937.0                    2                       1
1      63615         1971.0                    2                       1
2     138812         1935.0                    2                       1
3      24089         1943.0                    1                       1
4      21093         1933.0                    2                       1

In [20]:
# preview death table

death.head()

,person_id,death_date,death_datetime,death_type_concept_id,cause_concept_id,cause_source_value,cause_source_concept_id
0,144964,2010-11-18,2010-11-18 16:13:45,38003565,NaN,NaN,NaN
1,47287,2010-01-16,2010-01-16 22:25:49,38003565,NaN,NaN,NaN
2,128284,2010-12-28,2010-12-28 06:47:01,38003565,NaN,NaN,NaN
3,47064,2010-04-19,2010-04-19 20:37:36,38003565,NaN,NaN,NaN
4,42217,2009-10-08,2009-10-08 00:52:17,38003565,NaN,NaN,NaN

In [21]:
# select person_id and death_datetime as the features we need 
# reset index

death = death[['person_id','death_datetime']]
death = death.reset_index(drop=True)

In [22]:
# preview death table with selected features

death.head()

   person_id       death_datetime
0     144964  2010-11-18 16:13:45
1      47287  2010-01-16 22:25:49
2     128284  2010-12-28 06:47:01
3      47064  2010-04-19 20:37:36
4      42217  2009-10-08 00:52:17

In [23]:
# We create a merged table left joining person and death on person_id
# reset index

demographics = person.merge(death,how='left',on='person_id')
demographics = demographics.reset_index(drop=True)

# Exploratory Data Analysis

In [24]:
# Exploratory analysis
# we check how many patients have NA values for year_of_birth

len(demographics.loc[pd.isna(demographics.year_of_birth)])

76

In [26]:
# Exploratory analysis
# we check how many patients have NA values for death_date 
# Assumption: They are alive)

len(demographics.loc[pd.isna(demographics.death_datetime)])

96822

In [28]:
# Exploratory analysis
# we check how many patients have died

len(demographics.loc[pd.notna(demographics.death_datetime)])

1096

# Data Cleaning

In [29]:
# We will not include any patient who has a missing birth date 
# reset index

demographics = demographics.loc[pd.notna(demographics.year_of_birth)]
demographics = demographics.reset_index(drop=True)

# Export

In [31]:
demographics.to_csv('output/step_1_demographics.csv',index=False)